Public/CrimeRecord.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="crimesstatitics">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="country">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="region">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="area">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="statistic">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="total" type="xs:unsignedInt" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="national">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="statistic">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="total" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>